.profile-summary {
    position: sticky;
    top: 0;
    margin-right: 5%;
}

.profile-img {
    width: 25%;
}

.profile-section {
    display: flex;
    flex-wrap: wrap;
}

.btn-break {
    padding: 10px;
    margin: 0 5px;
    border-radius: 20px;
    background-color: cornflowerblue;
    border-style: none;
    color: white;
}

.btn-break:hover {
    background-color: indigo;
}

.details {
    padding: 0 3%;
}

.details-div {
    padding: 5% 0;
    background-color: antiquewhite;
    text-align: center;
}

.btn-div {
    padding: 5% 3%;
    background-color: antiquewhite;
    text-align: center;
}