.activity-container {
    border-radius: 2%;
    background-color: azure;
}

.img-activity {
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.btn-list {
    background-color: blueviolet;
}

.btn-list:hover {
    background-color: cornflowerblue;
}